
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Rock+Salt&display=swap');
*{
Margin: 0;
padding: 0;
box-sizing: border-box;

}

h1{
    
    font-family: "New Rocker", system-ui;
    font-weight: 900;
    font-style:italic;
    font-size: 120px;
    text-align: center;
    color: rgb(#732424);
    background-color: rgba(48, 0, 0, 0.719);

}


.paragrafo{
    font-family: "New Rocker", system-ui;
  text-align: center;
  font-size: 70px;
  color:rgb(173, 1, 1)
  
}

body{
    background-color:rgb(0, 0, 0);
background-image: url();
background-image:linear-gradient( #0D0D0D) ;
}

